.upper-bar {
  height: 100%;
  margin-top: 5px;
  background-image: url("../../resources/towJogging.jpg");
}

.login-signup-btn {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
}

.login-signup-btn:hover {
  color: #8c8c8c;
}

.main-sentence {
  text-align: center;
  color: white;
  text-shadow: 3px 3px #2b011a;
  font: 56px BrandonText-Black;
}